# Python caching and bytecode optimized files
*.py[co]
__pycache__

# Testing and coverage files
.coverage
.pytest_cache/
.mypy_cache/

# Build and Distribution files
dist/
build/
*.egg
*.whl
*.tar.gz

# Development and virtualenvs
.venv/
.vscode/

# Log files
log/
*.log